<h1>id: <%= @task.id %> Task Detail</h1>

<table class="table table-bordered">
    <tr>
        <th>id:</th>
        <td><%= @task.id %></td>
    </tr>
    <tr>
        <th>status</th>
        <td><%= @task.status %></td>
    </tr>
    <tr>
        <th>content</th>
        <td><%= @task.content %></td>
    </tr>
</table>

<%= link_to 'Edit Task', edit_task_path(@task), class: 'btn btn-light' %>
<%= link_to 'Delete Task', @task, method: :delete, data: { confirm: 'Are you sure to delete the task?' }, class: 'btn btn-danger' %>